<div id='bench-press'>
  <div id='left-weight' class='bench__weight' style={{leftStyle}}>
  </div>

  <svg id='connecting-line'>
    <line x1={{lineX1}} y1={{lineY1}} x2={{lineX2}} y2={{lineY2}}></line>
  </svg>

  <div id='right-weight' class='bench__weight' style={{rightStyle}}>
  </div>

  {{outlet}}
</div>
