<div class='connection layout-column layout-align-center-center'>
  {{#if doneConnecting}}
    <h1 class='connection__title connection__title--success'>Connected!</h1>
  {{else}}
    <h1 class='connection__title'>Connecting...</h1>
  {{/if}}

  {{#liquid-bind doneConnecting use='scale' as |doneConnecting|}}
    {{#if doneConnecting}}
      {{fa-icon 'check'
          class='connection__icon connection__icon--success'}}
    {{else}}
      {{fa-icon 'spinner'
          class='connection__icon'
          spin=true}}
    {{/if}}
  {{/liquid-bind}}

  {{outlet}}
</div>
